*{
    margin: 0px;
    padding: 5px 10px;
}

body{
    background-color: #f5f5f5;
}

p{
    width: 80%;
}

h2{
    width: 80%;
    font-weight: bold;
    padding: 10px 10px;
}

.wrap_btn{
    text-align: right;
    transition: all 0.5s ease 0s;
    width: 80%;
}