*{
    margin: 0px;
    padding: 0px;
    background-color: #dcdcdc;
    color: #8b4513;
}

p{
    width: 80%;
}

.navbar{
    padding:0px 0px;
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 5%);
}

a.nav-link {
    color: black!important;
    transition: all 0.5s ease 0s;
}

a.nav-link:hover{
    color: gray!important;
}

a.navbar-brand {
    width: 50%;
}

.navbar-brand img{
    width: 50px;
    border-radius: 50%;
}

.navbar-brand{
    font-size:40px;
    font-family: 'Anton', sans-serif;
}

.top-img{
    padding-top: 70px;
    width: 100%;
    background-image: fixed;
}

.about{
    padding: 10px 0px;
    text-align: center;
}

.about h2{
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #ffa500;
    font-family: 'Josefin Sans', sans-serif;
}

.about p{
    padding-bottom: 10px;
    margin: 30px auto 30px!important;
}

.carouselExampleCaptions img{
    width: 50px;
}

.carousel-caption.d-none.d-md-block {
    display: block!important;
    background-color: transparent!important;
}

.carousel-caption.d-none.d-md-block h4{
    background-color: transparent!important;
}

.carousel-caption.d-none.d-md-block p{
    background-color: transparent!important;
    padding: 0;
    color: #faf6f2;
    font-weight: bolder;
    text-shadow: 2px 4px 6px rgba(0,0,0,0.5);
    margin: 30px auto 30px!important;
}

.carousel-indicators {
    background-color: transparent!important;
}

h4 {
    color: #faf6f2;
    font-weight: bolder;
    text-shadow: 2px 4px 6px rgba(0,0,0,0.5);
}

.price{
    text-align: center;
    padding-bottom: 20px;
}

.price h2{
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #ffa500;
    font-family: 'Josefin Sans', sans-serif;
}

.price_table p{
    padding-top: 20px;
    margin: 30px auto 30px!important;
    font-size: 40px;
    font-weight: bold;
    font-size: 30px;
    color: #cd853f;
    font-family: 'Josefin Sans', sans-serif;
}

.price p{
    padding-bottom: 10px;
    margin: 30px auto 30px!important;
}

.d-flex{
    justify-content: center;
    align-items: center;
}

.d-flex img{
    width: 300px;
}

.flex-grow-1{
    width: 300px;
    padding: 15px 0 15px 0;
    margin-left: 0!important;
    background-color: white;
}

.d-flex1.align-items-center {
    padding: 10px 30px;
}

.flex-grow-1 h3{
    background-color: white;
    margin-bottom: 20px;  
}

.flex-grow-1 p{
    background-color: white;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.flex-grow-2{
    width: 300px;
    padding: 15px 0 15px 0;
    margin-left: 0!important;
    background-color: white;
}

.d-flex2.align-items-center {
    padding: 10px 30px;
}

.flex-grow-2 h3{
    background-color: white;
    margin-bottom: 20px;
}

.flex-grow-2 p{
    background-color: white;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.table{
    padding:0px 30px 10px;
}

thead {
    text-align: center;
    vertical-align: middle!important;
}

table.table.table-bordered {
    vertical-align: middle;
}

tr th{
    font-size: 20px;
}

.course{
    font-weight: bold;
}

tr{
    background-color: #d3d3d3;
}

.table thead tr{
    background-color: #c0c0c0;
}

.col-md-4{
    padding: 20px;
}

.text_top{
    color: #daa520;
    text-shadow: none;
    padding-bottom: 10px;
}

.container{
    border: solid;
    color: #f4a460;
    margin: 40px auto 20px;
    padding-top: 10px;
}

.container h5{
    font-weight: bold;
}

.container p{
    margin: 0px auto 0px!important;
}

.news h2{
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #ffa500;
    font-family: 'Josefin Sans', sans-serif;
}

.news ul{
    margin-bottom: 0%;
}

.news ul li{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding: 20px 0px;
}

.news ul li a{
    text-decoration: none;
    list-style-type: none;
}

.news ul li :hover{
    color: #f4a460;
    text-decoration: none;
}

.ttl_access h2{
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #ffa500;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 0px;
}

.d-flex.align-content-start.flex-wrap {
    padding-bottom: 0px;
}

.item table{
    margin: 0px 20px 30px 20px;
    width: 350px;
}

.item table th{
    text-align: center;
    vertical-align: middle;
    padding: 10px 30px;
}

.item table td{
    vertical-align: middle;
    padding: 5px 10px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

.form_btn{
    text-align: center;
    padding: 20px;
}

footer{
    padding-top: 30px;
}

footer ul li{
    list-style: none;
    padding-left: 30px;
    width: 80%;
}

.container2{
    padding-bottom: 10px;
}

footer ul li a{
    color: #8b4513;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    width: 80%;
    margin-top: 30px;
}

footer ul li a:hover{
    color: #f4a460;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

footer p{
    text-align: center;
    background-color: #a9a9a9;
    padding: 10px 0px;
    margin-bottom: 0px;
    width: 100%;
}